<div class="container-fluid">
  <div style="padding-top: 30px; color: rgb(255, 255, 255);">
    <div class="row">
      <h2 style="text-align: center; width: 100%; font-weight: bold;">
        Chào mừng bạn đã đến với chúng tôi!  
      </h2>
    </div>
    <div class="row" >
      <h2 style="text-align: center; width: 100%; font-weight: bold;">
        Web này lập ra để nói yêu Vi rất nhiềuuuuu
      </h2>
    </div>
  </div>
    
    <br>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <mat-card class="example-card" 
        style="background-image: url({{images[index]}});
        background-size: cover;
        ">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Anh yêu của e</mat-card-title>
            <mat-card-subtitle>30-Jul-2021</mat-card-subtitle>
          </mat-card-header>
          <div class="row">
            <div class="col">
              <img mat-card-image src={{images[index]}} style="object-fit: contain;" alt="Photo of a Shiba Inu" height="200">
            </div>
            <div class="col">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </div>
          </div>
          <mat-card-actions style="margin-left: 50%;">
            <button mat-button >SAI</button>
            <button mat-button (click)="next()">ĐÚNG</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col"></div>
    <br>
    <br>
</div>
</div>
<!--
  bánh sinh nhật
   https://i2.wp.com/funimada.com/assets/images/cards/big/bday-410.gif -->